af.xpi
ar.xpi
ast.xpi
be.xpi
bg.xpi
bn-BD.xpi
bn-IN.xpi
br.xpi
bs.xpi
ca.xpi
cs.xpi
cy.xpi
da.xpi
de.xpi
el.xpi
en-GB.xpi
en-ZA.xpi
eo.xpi
es-AR.xpi
es-CL.xpi
es-ES.xpi
es-MX.xpi
et.xpi
eu.xpi
fa.xpi
firefox-l10n-template.in
fi.xpi
fr.xpi
fy-NL.xpi
ga-IE.xpi
gd.xpi
gl.xpi
gu-IN.xpi
he.xpi
hi-IN.xpi
hr.xpi
hu.xpi
hy-AM.xpi
id.xpi
is.xpi
it.xpi
ja.xpi
kk.xpi
kn.xpi
ko.xpi
ku.xpi
lg.xpi
lt.xpi
lv.xpi
mai.xpi
mk.xpi
ml.xpi
mr.xpi
nb-NO.xpi
nl.xpi
nn-NO.xpi
nso.xpi
or.xpi
pa-IN.xpi
pl.xpi
pt-BR.xpi
pt-PT.xpi
ro.xpi
ru.xpi
si.xpi
sk.xpi
sl.xpi
sq.xpi
sr.xpi
sv-SE.xpi
ta-LK.xpi
ta.xpi
te.xpi
th.xpi
tr.xpi
uk.xpi
vi.xpi
zh-CN.xpi
zh-TW.xpi
zu.xpi
